@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto max-w-[1120px] px-2;
}
p {
	@apply py-2;
}

/*
* Стили компонентов
*/

.hamburger > span {
	display: block;
	height: 2px;
	width: 100%;
	background-color: #fff;
	border-radius: 1.5px;
}

.mobile-nav {
	background-color: rgba(0, 0, 0, 0.5);
}

.hero {
	background-image: url("./assets/images/hero.webp");
	background-size: cover;
	background-position: center;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
}
.modal-overlay {
	background-color: rgba(0, 0, 0, 0.8);
}

.action {
	background-image: url("./assets/images/action.png");
	background-position: center;
	background-size: cover;
}
.swiper-pagination-bullet-active {
	background: rgb(219 39 119 / var(--tw-bg-opacity, 1)) !important;
}
