@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-[1200px] px-2 mx-auto;
}

/*
* Стили компонентов
*/

.hamburger > span {
	display: block;
	height: 3px;
	width: 100%;
	background-color: #fff;
	border-radius: 1.5px;
}

.mobile-nav {
	background-color: rgba(0, 0, 0, 0.5);
}

.hero {
	background-image: url("./assets/images/hero.webp");
	background-size: cover;
	background-position: center;
}
